{% extends 'layouts/base.html' %} {% block content %} {% for x in posts %}

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{{x.urlimg.url}}"
              class="img-fluid img-thumbnail"
              alt="..."
              style="width: 200px; height: 200px"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <div class="row">
                <div class="col-md-10">
                  <h4 class="card-title text-uppercase">{{x.titulo}}</h4>
                </div>
                <div class="col-md-2">
                  <form method="POST" action="{% url 'delete_post' x.id %}">
                    {% csrf_token %}
                    <button class="btn btn-danger">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-x-circle"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
                        />
                        <path
                          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
                        />
                      </svg>
                    </button>
                  </form>
                </div>
              </div>
              <h6 class="card-title">{{x.subtitulo}}</h6>
              <p class="card-text">{{x.descripcion}}</p>
              <p class="card-text">
                <small class="text-body-secondary">{{x.createdate}}</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{%endfor%} {%endblock%}
